= form_for(@toy) do |f|
  - if @toy.errors.any?
    #error_explanation
      %h2
        = pluralize(@toy.errors.count, "error")
        prohibited this toy from being saved:
      %ul
        - @toy.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.label :name
    = f.text_field :name
    %br
    = f.label :color
    = f.text_field :color
    %br
    = f.label :price
    = f.text_field :price
    %br
    = f.label :available_num
    = f.text_field :available_num
    %br
    = f.collection_select :room_id, Room.all, :id, :name
    %br
    = f.submit
