%p#notice= notice
%h1 Listing Toys
%table
  %thead
    %tr
      %th Name
      %th Color
      %th Price
      %th Available number
      %th Room
      %th{:colspan => "3"}
  %tbody
    - @toys.each do |toy|
      %tr
        %td= toy.name
        %td= toy.color
        %td= toy.price
        %td= toy.available_num
        %td= toy.room.name
        %td= link_to 'Show', toy
        %td= link_to 'Edit', edit_toy_path(toy)
        %td= link_to 'Destroy', toy, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Toy', new_toy_path
