= form_for(@room) do |f|
  - if @room.errors.any?
    #error_explanation
      %h2
        = pluralize(@room.errors.count, "error")
        prohibited this room from being saved:
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.label :name
    = f.text_field :name
    %br
    = f.label :number
    = f.collection_select :number, (1..200).to_a, :to_s, :to_s
    %br
    = f.submit
